img.logo {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 79px;
    top: 19.8px;

}
img.goplaces{ 
position: absolute;
width: 1360px;
height: 616px;
left: 40px;
top: 99px;
border-radius: 0px;
}
div.gof{
position: absolute;
width: 75px;
height: 36px;
left: 127px;
top: 34px;

font-family: "Campton";
font-size: 25.886px;
line-height: 30px;

color: #3D3D3D;
}

a.dest{
position: absolute;
width: 398px;
height: 17px;
left: 855px;
top: 44px;

font-family: "Campton";
font-size: 12px;
line-height: 14px;

color: #3D3D3D;
}
a.rese{
position: absolute;
width: 398px;
height: 17px;
left: 975px;
top: 44px;

font-family: "Campton";
font-size: 12px;
line-height: 14px;

color: #3D3D3D;
}
a.upda{
position: absolute;
width: 398px;
height: 17px;
left: 1100px;
top: 44px;

font-family: "Campton";
font-size: 12px;
line-height: 14px;

color: #3D3D3D;
}
a.lore{
position: absolute;
width: 398px;
height: 17px;
left: 1200px;
top: 44px;

font-family: "Campton";
font-size: 12px;
line-height: 14px;

color: #3D3D3D;
}
/* Fonts */
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBlack.otf);

    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBlackItalic.otf);

    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBold.otf);

    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBoldItalic.otf);

    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBook.otf);

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonBookItalic.otf);

    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraBold.otf);

    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraBoldItalic.otf);

    font-weight: bolder;
    font-style: italic;
    
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraLight.otf);

    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonExtraLightItalic.otf);

    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonLight.otf);

    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonLightItalic.otf);

    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonMedium.otf);

    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonMediumItalic.otf);

    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonSemiBold.otf);

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonSemiBoldItalic.otf);

    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonThin.otf);

    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'campton';
    src: url(./fonts/campton/campton-cufonfonts/CamptonThinItalic.otf);

    font-weight: lighter;
    font-style: italic;
}